body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    background-color:rgb(55, 114, 199);
    color:whitesmoke;

    display: grid;
    grid:
      "header header header header" auto
      "...... lists  active ......" auto /
      1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;

}


.title {
  grid-area: header; 
  text-align: center;
  font-size: calc(5vw + 1.7rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.247);
  letter-spacing: 1px;
  margin: -0.2em 0 0.4em;
}

.all-tasks {
  grid-area: lists; 
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

form {
  display: flex; 
}

.btn {
  cursor: pointer;
  background: 0;
  padding: 0; 
  color: inherit;
  font-size: 1rem;
}

::placeholder {
  color: inherit;
  font-size: 1.1rem;
  opacity: 0.5;
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;

  transition: border-bottom 180ms ease-in;
  order: 2;
}

.new:focus {
  border-bottom-width: 3.2px;
}

.new:focus::placeholder {
  opacity: 0.3;
}

.new.list {
  font-size: 1.1rem;
}

.active-task {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.list {
  grid-area: active;
}